geckodriver.log
.ipynb_checkpoints/1 - MachadoScraper-checkpoint.ipynb
.ipynb_checkpoints/2 - HTML_to_txt-checkpoint.ipynb
Obra _ Machado de Assis_files/accessibility.js.download
Obra _ Machado de Assis_files/bootstrap-grid.css
Obra _ Machado de Assis_files/cookie.css
Obra _ Machado de Assis_files/cookie.js.download
Obra _ Machado de Assis_files/event-dispatcher.js.download
Obra _ Machado de Assis_files/header.js.download
Obra _ Machado de Assis_files/jquery-3.4.1.min.js.download
Obra _ Machado de Assis_files/js
Obra _ Machado de Assis_files/selo rumos_[apoio]_cor_[texto br].png
Obra _ Machado de Assis_files/shiro-autocomplete.css
Obra _ Machado de Assis_files/smart-select.css
Obra _ Machado de Assis_files/smart-select.js.download
Obra _ Machado de Assis_files/style.css
Obra _ Machado de Assis_files/swiper.css
Obra _ Machado de Assis_files/swiper.js.download
Obra _ Machado de Assis_files/text-manager.js.download
Obra _ Machado de Assis_files/selo rumos_[apoio]_cor_[texto br].png
